@(currentnav: String)(currentside: String)(content: Html)

<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta charset="utf-8">
	    <title>@Messages("home.title")</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <!-- Le styles -->
	    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" >
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	      .sidebar-nav {
	        padding: 9px 0;
	      }
	    </style>
	    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/xmlverbatim.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/transform.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/timepicker.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/datepicker.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/tablesorter.css")" rel="stylesheet" >

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
		<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		
	</head>
	<body>
			    
		@navbar(currentnav)
	
	    <div class="container-fluid">
	        
	        @if(session.get("version")!=play.api.Play.current.configuration.getString("app.version").get&&session.get("version")!=null){ 
	        	<div class="alert alert-warning">
				  	<button class="close" data-dismiss="alert">×</button>
	  			    <h4 class="alert-heading">@Messages("notice.warning")!</h4>
	        		@Messages("version.newversiondeployed") <a href="@routes.Application.logout()"><i class="icon-share-alt"></i> @Messages("version.logagain")</a><br/>
				</div>
	        }
	            
		    @if(flash.containsKey("success")) {
		    	<div class="alert alert-success">
				  	<button class="close" data-dismiss="alert">×</button>
	  			    <h4 class="alert-heading">@Messages("notice.success")!</h4>
					@Html(flash.get("success"))
				</div>
		    } 
	            
		    @if(flash.containsKey("warning")) {
		    	<div class="alert alert-warning">
				  	<button class="close" data-dismiss="alert">×</button>
	  			    <h4 class="alert-heading">@Messages("notice.warning")!</h4>
					@Html(flash.get("warning"))
				</div>
		    } 
	            
		    @if(flash.containsKey("error")) {
		    	<div class="alert alert-error">
				  	<button class="close" data-dismiss="alert">×</button>
	  			    <h4 class="alert-heading">@Messages("notice.error")!</h4>
					@Html(flash.get("error"))
				</div>
		    } 
		    
	      <div class="row-fluid">

		    @navside(currentnav)(currentside)

	    	@content
		  </div>

	      <hr>
	
	      <footer>
	        <p>@Messages("home.title") <strong>@play.api.Play.current.configuration.getString("app.version")</strong> released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2 License</a></p>
	      </footer>
		</div>

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-transition.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-popover.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-modal.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-collapse.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-timepicker.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tablesorter.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/locales/bootstrap-datepicker.fr.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/application.js")"></script>
	    
	    <script type="text/javascript">
	        $(document).ready(function () { 
	            $('.timepicker-default').timepicker();
	
	            $('.timepicker-1').timepicker({
	                minuteStep: 1,
	                template: 'modal',
	                showSeconds: true,
	                showMeridian: false,
    				defaultTime:  $(this).val()
	            });
	            $('.timepicker-now').timepicker({
	                minuteStep: 1,
	                template: 'modal',
	                showSeconds: true,
	                showMeridian: false
	            });
	            $('.timepicker-00').timepicker({
	                minuteStep: 1,
	                template: 'modal',
	                showSeconds: true,
	                showMeridian: false,
	                defaultTime: '00:00:00'
	            });
	            $('.timepicker-23').timepicker({
	                minuteStep: 1,
	                template: 'modal',
	                showSeconds: true,
	                showMeridian: false,
	                defaultTime: '23:59:59'
	            });
	
	            $('.timepicker-2').timepicker({
	                minuteStep: 5,
	                showInputs: false,
	                disableFocus: true
	            });
	
	            $('.timepicker-3').timepicker({
	                minuteStep: 1,
	                secondStep: 5,
	                showInputs: false,
	                template: 'modal',
	                modalBackdrop: true,
	                showSeconds: true,
	                showMeridian: false
	            });
	
	            $('.timepicker-4').timepicker({
	                template: false,
	                showInputs: false,
	                minuteStep: 5
	            });
	            
	            $('.datepicker').datepicker({
	            	format: 'yyyy-mm-dd',
	            	weekStart: 1,
	            	language: 'fr',
	            	todayBtn: true
	            });
	            
	            $("table#sortTableProcesslist").tablesorter({ sortList: [[1,0],[2,0]] });

	        });
	    </script>
	</body>
</html>
