@(currentnav:String)

	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="/">@Messages("home.title")</a>
	          @if(currentnav != "error") {
	          <div class="btn-group pull-right">
	            @if( session.get("login") == null ) {
	            <a class="btn" href="@routes.Application.login()">
	              <i class="icon-user"></i> @Messages("nav.bar.login.login")
	            </a>
	            } else {
	            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	              <i class="icon-user"></i> @session.get("login") </a>
	              <span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu">
		      		<li><a href="@routes.Admin.editmyuser(session.get("login"))">@Messages("nav.bar.login.myuser")</a></li>
	              	<li class="divider"></li>
	              	<li><a href="@routes.Application.logout()">@Messages("nav.bar.login.disconnect")</a></li>
	            </ul> 
	            }
	          </div>
	          }
	          <div class="nav-collapse">
	            <ul class="nav">
					<li @if(currentnav == "control") { class="active"} else { class="inactive" } ><a href="@routes.Control.processlist()">@Messages("nav.bar.menus.control")</a></li>
					<li @if(currentnav == "admin") { class="active"} else { class="inactive" } ><a href="@routes.Admin.index()">@Messages("nav.bar.menus.admin")</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	      
	    </div>
