@(currentnav: String)(currentside: String)(content: Html)

<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta charset="utf-8">
	    <title>WebAccis</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <!-- Le styles -->
	    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" >
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	      .sidebar-nav {
	        padding: 9px 0;
	      }
	    </style>
	    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/xmlverbatim.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/transform.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" >
	    <link href="@routes.Assets.at("stylesheets/timepicker.css")" rel="stylesheet" >

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
	</head>
	<body>
			    
		@navbar(currentnav)
	
	    <div class="container-fluid">
		    
	      <div class="row-fluid">

	    	@content
		  </div>

	      <hr>
	
	      <footer>
	        <p>&copy; ACIS asbl. 2012</p>
	      </footer>
		</div>

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-transition.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-popover.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-modal.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-collapse.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-timepicker.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/application.js")"></script>
	    
	    <script type="text/javascript">
	        $(document).ready(function () { 
	            $('.timepicker-default').timepicker();
	
	            $('.timepicker-1').timepicker({
	                minuteStep: 1,
	                template: 'modal',
	                showSeconds: true,
	                showMeridian: false,
    				defaultTime:  $(this).val()
	            });
	            $('.timepicker-now').timepicker({
	                minuteStep: 1,
	                template: 'modal',
	                showSeconds: true,
	                showMeridian: false
	            });
	
	            $('.timepicker-2').timepicker({
	                minuteStep: 5,
	                showInputs: false,
	                disableFocus: true
	            });
	
	            $('.timepicker-3').timepicker({
	                minuteStep: 1,
	                secondStep: 5,
	                showInputs: false,
	                template: 'modal',
	                modalBackdrop: true,
	                showSeconds: true,
	                showMeridian: false
	            });
	
	            $('.timepicker-4').timepicker({
	                template: false,
	                showInputs: false,
	                minuteStep: 5
	            });
	        });
	    </script>
	</body>
</html>
